<div class="about content">
  <h2>About community</h2>
  <p>
    This community aims to be a meeting point for people that try to improve as software developers . It's a place where
    you will find kindred spirits to help you walk the long road.
  </p>
  <p class="spanish">
    Esta comunidad trata de ser un punto de encuentro para personas que tratan de mejorar como desarrolladores de
    software. Es un lugar en el que encontrar espíritus afines que te ayuden a caminar el largo camino.
  </p>
</div>
