.post-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.post-card-content {
  padding: 15px 15px 0 15px;
  word-break: break-all;
}

.mat-card-header {
  padding-top: 15px;
}

.mat-card-title {
  font-size: 1rem;

  .category {
    margin-left: 0.5rem;
    color: darkcyan;
  }
}

// Fix actions not sticking to the bottom
// https://github.com/angular/material2/issues/11094
//.mat-card {
//  display: flex;
//  flex-direction: column;
//  flex-shrink: 0;
//
//  max-width: 400px;
//}
//
//.mat-card-header {
//  display: flex;
//  flex-direction: row;
//  flex-shrink: 0;
//}
//
//.mat-card-content {
//  flex-grow: 1;
//  overflow: auto;
//}
