.mat-card-header {
  ::ng-deep .mat-card-header-text {
    margin: 0.5em;
  }

  .mat-card-title {
    font-size: 1rem;

    .category {
      margin-left: 0.5rem;
      color: darkcyan;
      cursor: pointer;
    }
  }
}

.post-card-content {
  padding: 0 0.5em 0.5em 0.5em;
  word-break: break-all;
}
