<mat-spinner [color]="'warn'"
             *ngIf="(isLoadingPosts$ | async)"></mat-spinner>

<div class="dashboard" *ngIf="!(isLoadingPosts$ | async)">
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>

  <div class="content">
    <div class="selected-categories">
      <mat-chip-list *ngIf="(category$ | async) as category">
        <mat-chip (click)="unselectCategory(category)">{{category}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="posts">
      <div class="post-card"
           *ngFor="let post of posts$ | async">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>
</div>
