<mat-spinner [color]="'warn'"
             *ngIf="(isLoadingPosts$ | async)"></mat-spinner>

<div class="grid-container"
     *ngIf="!(isLoadingPosts$ | async)">
  <mat-chip-list *ngIf="(category$ | async) as category">
    <mat-chip (click)="unselectCategory(category)">{{category}}</mat-chip>
  </mat-chip-list>

  <mat-grid-list cols="3" rowHeight="250px">
    <mat-grid-tile *ngFor="let post of posts$ | async">
      <app-post [post]="post"></app-post>
    </mat-grid-tile>
  </mat-grid-list>
</div>

