<mat-spinner [color]="'warn'"
             *ngIf="(isLoadingPosts$ | async)"></mat-spinner>

<div class="dashboard"
     *ngIf="!(isLoadingPosts$ | async)">
  <div class="sidenav">
    <app-sidenav [categories]="categories$ | async"></app-sidenav>
  </div>

  <div class="content">
    <div class="posts">
      <div class="post-card"
           *ngFor="let post of posts$ | async">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>

  <app-add-button></app-add-button>
</div>
